<!DOCTYPE html>
<html lang="en">
<head>
    <title>BURGER</title>
    <meta charset="utf-8"/>
</head>
<body>
    <h1>Welcome to BURGER</h1>
    <h2>
        BURGER Selection
    </h2>
    <p>BURGER selection goes here</p>
    <table>
        <tbody>
        <tr>
            <td>
                <h3 align="center">
                    Fire BURGER
                </h3>
            </td>
            <td>
                <h3 align="center">
                    Fancy BURGER
                </h3>
            </td>
            <td>
                <h3 align="center">
                    Sad BURGER
                </h3>
            </td>
        </tr>
        <tr>
            <td>
                <img align="center" src="../public/img/fire_burger.jpg" width="450" height="300" alt="Fire BURGER" title="Fire BURGER">
            </td>
            <td>
                <img align="center" src="../public/img/fancy_burger.jpg" width="410" height="410" alt="Fancy BURGER" title="Fancy BURGER">
            </td>
            <td>
                <img align="center" src="../public/img/sad_burger.jpg" width="493" height="296" alt="Sad BURGER" title="Sad BURGER">
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Very hot BURGER</li>
                    <li>Not for the faint of heart</li>
                    <li>Lots of gluten and lactose, very dangerous</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Very fancy BURGER</li>
                    <li>Only for wealthy or pretentious people</li>
                    <li>Will make you feel like a king</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Very sad BURGER</li>
                    <li>Ugly and bad taste</li>
                    <li>Do not buy this burger</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>Customer Info</h2>
    <section id="customer-info">
        <p>Customer info goes here</p>

        <h4>Delivery Information:</h4>
        <form>
            <p>
                <label for="fullname">Full Name</label><br />
                <input type="text" id="fullname" name="fn" required="required" placeholder="Full name">
            </p>
            <p>
                <label for="email">E-mail</label><br />
                <input type="text" id="email" name="em" required="required" placeholder="E-mail">
            </p>
            <p>
                <label for="street">Street</label><br />
                <input type="text" id="street" name="st" required="required" placeholder="Street">
            </p>
            <p>
                <label for="house">Number</label><br />
                <input type="number" id="house" name="no" required="required" placeholder="House number">
            </p>
        </form>
    </section>

<footer>
    © 2018 Capital BURGER Inc.
</footer>
</body>
</html>