<!DOCTYPE html>
<html lang="en">
<head>
    <title>Burger</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
    <h1>Welcome to Burger</h1>
    <h2>
        Burger Selection
    </h2>
    <p>Burger selection goes here</p>
    <section id="burger-list">
    <table>
        <tbody>
        <tr>
            <td>
                <h3 align="center">
                    Fire Burger
                </h3>
            </td>
            <td>
                <h3 align="center">
                    Fancy Burger
                </h3>
            </td>
            <td>
                <h3 align="center">
                    Sad Burger
                </h3>
            </td>
        </tr>
        <tr>
            <td>
                <img align="center" src="../public/img/fire_burger_296.jpg" width="444" height="296" alt="Fire Burger" title="Fire Burger">
            </td>
            <td>
                <img align="center" src="../public/img/fancy_burger_296.jpg" width="296" height="296" alt="Fancy Burger" title="Fancy Burger">
            </td>
            <td>
                <img align="center" src="../public/img/sad_burger.jpg" width="493" height="296" alt="Sad Burger" title="Sad Burger">
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Very hot burger</li>
                    <li>Contains <span class="ingredient">gluten</span>, <span class="ingredient">lactose</span> and <span class="ingredient">fire</span></li>
                    <li>Not for the faint of heart</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Very fancy burger</li>
                    <li>Contains <span class="ingredient">truffles</span> and <span class="ingredient">gold</span></li>
                    <li>Costs all your money</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Very sad burger</li>
                    <li>Contains <span class="ingredient">sadness</span></li>
                    <li>Do not buy this burger</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    </section>
    <h2>Customer Info</h2>
    <section id="customer-info">
        <p>Customer info goes here</p>

        <h4>Delivery Information:</h4>
        <form>
            <p>
                <label for="fullname">Full Name</label><br />
                <input type="text" id="fullname" name="fn" required="required" placeholder="Full name">
            </p>
            <p>
                <label for="email">E-mail</label><br />
                <input type="text" id="email" name="em" required="required" placeholder="E-mail">
            </p>
            <p>
                <label for="street">Street</label><br />
                <input type="text" id="street" name="st" required="required" placeholder="Street">
            </p>
            <p>
                <label for="house">Number</label><br />
                <input type="number" id="house" name="no" required="required" placeholder="House number">
            </p>
            <p>
                <label for="paymentmethod">Payment Method</label><br />
                <select id="paymentmethod" name="pm">
                    <option>Cash on Delivery</option>
                    <option selected="selected">Debit Card</option>
                    <option>Credit Card</option>
                    <option>PayPal</option>
                    <option>Invoice</option>
                </select>
            </p>
            <p>
                <label id="gender">Gender</label><br />
                <input id="male" type="radio" name="gender" value="male"><label for="male">Male</label><br />
                <input id="female" type="radio" name="gender" value="female"><label for="female">Female</label><br />
                <input id="unspecified" type="radio" name="gender" value="unspecified"><label for="unspecified">Do not wish to provide</label><br />
            </p>
        </form>
        <button type="submit"><img src="../public/img/delivery_icon.png" width="24" height="24" alt="delivery_icon">Place Order</button>
    </section>
<footer>
    © 2018 Capital Burger Inc.
</footer>
</body>
</html>