
@import url("reset.css");

html
{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

body
{
    font-family: "Open Sans", sans-serif;
    font-size: 1.0em;
    margin-bottom: 54px;
    background: #F0F2FF;
}

header
{
    /**background-image: url("../img/bottles.jpg");**/
    overflow: hidden;
    border-bottom: 2px solid #F47A20;
    height: 138px;
}

#header_img
{
    opacity: 0.5;
}

h1
{
    font-family: 'Abril Fatface', serif;
    font-size: 3.0em;
    padding: 48px;
    position: absolute;
}

h2
{
    font-family: 'Abril Fatface', serif;
    font-size: 1.8em;
    margin-bottom: 20px;
}

h3
{
    font-family: 'Abril Fatface', serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

p
{
    margin: 20px 0 20px 0;
}

section
{
    margin: 0;
    padding: 20px;
}

input, select
{
    margin-top: 4px;
}

input[type=radio]
{
    margin: 10px 8px 0 4px;
}

.ingredient
{
    font-weight: bold;
    color: #FF3333;
}

#burger-section
{
    background: #000;
    color: #FFF;
}

.wrapper
{
    display: grid;
    grid-gap: 20px;
}

.box {
    padding: 20px;
    border: 2px solid #F47A20;
}

.box:hover
{
    border: 2px solid #F42A20;
    cursor: pointer;
}

.a {
    grid-column: 1;
}
.b {
    grid-column: 2;
}
.c {
    grid-column: 3;
}

#burger-table
{
    width: 100%;
}

#burger-table td
{
    padding: 10px 20px 10px 20px;
}

ul
{
    list-style-type: circle;
    padding-left: 20px;
}

li
{
    margin: 5px 0 5px 0;
}

#customer-info
{
    border: 2px solid #888888;
    margin: 4px;
}

button
{
    margin: 0;
}

button:hover
{
    background: #888888;
    cursor: pointer;
}

footer
{
    position: fixed;
    background: #FFFFFF;
    border-top: 2px solid #F47A20;
    width: 100%;
    padding: 20px;
    bottom: 0;
}