
@import url("reset.css");

html
{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

body
{
    font-family: "Open Sans", sans-serif;
    font-size: 1.0em;
    margin-bottom: 54px;
    background: #F0F2FF;
    color: #000004;
}

header
{
    overflow: hidden;
    height: 138px;
}

#header_img
{
    opacity: 0.5;
}

h1
{
    font-family: 'Abril Fatface', serif;
    font-size: 3.0em;
    padding: 48px;
    position: absolute;
}

h2
{
    font-family: 'Abril Fatface', serif;
    font-size: 2em;
    margin-bottom: 20px;
}

h3
{
    font-family: 'Abril Fatface', serif;
    font-size: 1.8em;
}

p
{
    margin: 20px 0 20px 0;
    line-height: 1.2em;
}

section
{
    margin: 0;
    padding: 20px;
}

/*-------------------------Burger Display Styles---------------------------*/

#burger_section
{
    background: #000004;
    color: #FFFFFF;
    border-top: 2px solid #F47A20;
}

#burger-grid
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.box
{
    padding: 20px 20px 15px;
    margin: 10px;
    border: 2px solid #F47A20;
    display: grid;
    grid-template-columns: 390px 54px;
}

.box + .box
{
//    border-left: 2px solid #F47A20;
}

.box h3
{
    grid-column: 1 / span 2;
}

.box img
{
    margin: 15px 0 10px 0;
    grid-column: 1 / span 2;
    grid-row: 2;
}

ul
{
    list-style-type: circle;
    padding-left: 20px;
    grid-column: 1;
    grid-row: 3;
}

.check-mark
{
    grid-column: 2;
    grid-row: 3;
    font-size: 4em;
    color: #F0F2FF;
    margin: 0;
    padding: 0 4px 0;
    border: 2px solid #F47A20;
}

li
{
    margin: 5px 0 5px 0;
}

.ingredient
{
    font-weight: bold;
    color: #F42A20;
}

.check-mark:hover
{
    border: 2px solid #F42A20;
    cursor: pointer;
}

.check-mark:active
{
    transform: translate(2px, 2px);
}

/*-------------------------Customer Form Styles---------------------------*/

#customer-info
{
    border-top: 2px solid #F47A20;
}

input, select
{
    margin-top: 4px;
    font-size: 1.1em;
    min-width: 200px;
}

input[type=text], input[type=number], select
{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000004;
}

input[type=radio]
{
    margin: 10px 8px 0 4px;
    min-width: 0;
}

/*-------------------------Button Styles---------------------------*/

button
{
    font-family: 'Abril Fatface', serif;
    font-size: 1.3em;
    background: #F47A20;
    margin: 0;
    padding: 12px;
    min-width: 200px;
    border: none;
    box-shadow: 2px 2px #000004;
    cursor: pointer;
}

button span
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after
{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span
{
    padding-right: 25px;
}

button:hover span:after
{
    opacity: 1;
    right: 0;
}

button:active
{
    box-shadow: none;
    transform: translate(2px, 2px);
}

button:focus
{
    outline: none;
}

/*-------------------------Order List Styles---------------------------*/
#order-display
{
    display: none;
    background: #200537;
    padding: 20px;
    border-top: 2px solid #F47A20;
}

#order-list
{
    grid-column: 1;
    grid-row: 1;
    list-style-type: none;
    padding: 10px;
    background: #F47A20;
    box-shadow: 2px 2px #000004;
    color: #000004;
    font-size: 1.3em;
    width: 180px;
}

#order-list > li
{
    padding: 4px 0;
    font-family: 'Abril Fatface', serif;
}

#customer-details
{
    margin-bottom: 20px;
    grid-column: 2;
    grid-row: 1;
    max-height: 50px;
    display: grid;
    grid-template-columns: 180px 180px 180px;
    color: #F0F2FF;
}

#customer-details > p
{
    margin: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid #F0F2FF;
    color: #F0F2FF;
}

/*-------------------------Footer Styles---------------------------*/

footer
{
    position: fixed;
    font-family: 'Abril Fatface', serif;
    background: #F0F2FF;
    border-top: 2px solid #F47A20;
    width: 100%;
    padding: 20px;
    bottom: 0;
}